@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h1>
            Danh Mục Student
        </h1>
        <p>@Html.ActionLink("List Student", "Index", "Students")</p>
    </div>
    <div class="col-md-4">
    <h1>
        Danh Mục Subject Of Class
    </h1>
    <p>@Html.ActionLink("Subject Of Class", "Index", "SubjectsOfClasses")</p>
</div>
    
</div>